<%= form_for(@comment) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Comment on this recipe!" %>
    <%= f.text_box :rating, placeholder: "Rate from 1-4" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
