html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;

  $lightPurple: #CCCCFF;
  $mediumPurple: #996699;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: purple;
  text-decoration: none;/*underline;*/
  font-weight: none;/*bold;*/
}
a:hover {
  color: #BBBBFF;
}
#nav a:visited {
  color: white;
}
h1 {
  color: #996699;
  /*background-color: #CCCCFF;*/
  background: transparent;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
}
h1.title {
  margin: 0 0 0em;
  background-color: #CCCCFF;
  padding: 15px;
  color: #996699;
  font-size: 2em;
  font-style: normal;
  font-family: Comic Sans MS, Tahoma, Verdana, sans-serif;
}
h1.subtitle {
  margin: 0 0 0em;
  background-color: #CCCCFF;
  padding: 10px;
  padding-left: 30px;
  padding-top: 0px;
  color: white;
  border-bottom: 4px solid DarkSlateGrey;
  font-size: 1em;
  font-style: normal;
}
nav {
  color: white;
  display: block;
  width: 100%;
  border-bottom: 4px solid DarkSlateGrey;
  padding: 7px;
  padding-left: 20px;
  background-color: #996699;
  color: white;
  font-size: 1em;
  font-style: normal;
}
right {
  float: right;
  text-align: right;
  padding-right: 50px;
}
notice {
  background: #CCCCFF;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: DarkSlateGrey;
}
